@for (entry of this.filesInputArr(); track i; let i = $index) {
  <mat-form-field>
    <mat-select
      [formControl]="optionMultiselectControl()[i]"
      placeholder="Select your options..."
      multiple
      #multiSelect
    >
      <mat-select-trigger>
        {{ optionMultiselectControl()[i].value[0] }}
        <span class="example-additional-selection">
          {{ getAdditionalSelectMessage(i) }}
        </span>
      </mat-select-trigger>
      <mat-option>
        <ngx-mat-select-search
          [formControl]="optionSearchMultiselectFilterControl()[i]"
          placeholderLabel="Keyword Search..."
          noEntriesFoundLabel="No options found"
          [showToggleAllCheckbox]="true"
          [toggleAllCheckboxTooltipMessage]="optionSearchTooltipMessage"
          toggleAllCheckboxTooltipPosition="above"
          (toggleAll)="toggleAllOptions({ hasSelectedAll: $event }, i)"
          [hideClearSearchButton]="false"
          [preventHomeEndKeyPropagation]="true"
        >
          <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
        </ngx-mat-select-search>
      </mat-option>
      @for (option of this.filteredOptionsMulti()[i]; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
<button mat-raised-button (click)="printStateToConsole()">Check State in Console</button>
