@for (entry of this.filesInputArr(); track idx; let idx = $index) {
  <mat-form-field>
    <mat-select [formControl]="optionPerFileMultiselect().controls[idx]" placeholder="Select your options..." multiple>
      <mat-select-trigger>
        {{ optionPerFileMultiselect().controls[idx].value[0] }}
        <span class="example-additional-selection">
          {{ getAdditionalSelectMessage(idx) }}
        </span>
      </mat-select-trigger>
      <mat-option>
        <ngx-mat-select-search
          [formControl]="optionSearchMultiselectFilterControl()[idx]"
          placeholderLabel="Keyword Search..."
          noEntriesFoundLabel="No options found"
          [showToggleAllCheckbox]="true"
          [toggleAllCheckboxTooltipMessage]="optionSearchTooltipMessage"
          toggleAllCheckboxTooltipPosition="above"
          (toggleAll)="toggleAllOptions({ hasSelectedAll: $event, index: idx })"
          [hideClearSearchButton]="false"
          [preventHomeEndKeyPropagation]="true"
        >
          <mat-icon class="pt-1" ngxMatSelectSearchClear>clear</mat-icon>
        </ngx-mat-select-search>
      </mat-option>
      @for (option of this.filteredOptionsMulti()[idx] | async; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
<button mat-raised-button (click)="printStateToConsole()">Check State in Console</button>
