<p class="title-text">Please Upload your File:</p>

<div class="custom-file-uploader-container">
  <file-upload
    [(ngModel)]="uploadedFiles"
    [control]="fileUploadControl"
    [disabled]="checkFileUploadIsDisabled()"
  ></file-upload>

  @if (this.fileUploadControl.value.length > 0) {
    @if (this.fileUploadControl.disabled) {
      <p class="text-center text-red-500">Please remove files below to enable the file upload again!</p>
    }
    <div class="file-list">
      @for (file of this.fileUploadControl.value; track file; let idx = $index) {
        <div class="file-item" tabindex="0">
          <p class="uploaded-file-name">File Name: {{ file.name }}</p>
          <mat-form-field>
            <mat-label>Food Options</mat-label>
            <mat-select [formControl]="optionsPerFile().at(idx)" multiple>
              <mat-select-trigger>
                {{ optionsPerFile().at(idx).value[0] }}
                <span class="example-additional-selection">
                  {{ getAdditionalSelectMessage(file, idx) }}
                </span>
              </mat-select-trigger>
              @for (foodItem of this.foodItems; track foodItem) {
                <mat-option [value]="foodItem">{{ foodItem }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-icon fontIcon="delete" (click)="handleRemoveFile(file)"></mat-icon>
        </div>
      }
    </div>
  }

  <button class="blue-button" mat-raised-button (click)="handleFileUpload()">Upload Files</button>
</div>
