.custom-file-uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.custom-file-uploader-container file-upload {
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.file-list {
  width: 100%;
  max-width: 600px;
  padding: 10px 0;
  text-align: center;
}

.files-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.file-item {
  text-align: center;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}
