<div class="pdf-outside-box-container">
  <div class="pdf-preview-toolbar">
    <button mat-raised-button [style.display]="isPreviewerDisabled() ? 'none' : 'block'" (click)="previousPage()">
      <mat-icon fontIcon="arrow_back"></mat-icon>
      <span>Previous</span>
    </button>
    <span *ngIf="!isPreviewerDisabled()">Page {{ pdfPage() }} of {{ pdfTotalPages() }}</span>
    <button mat-raised-button [style.display]="isPreviewerDisabled() ? 'none' : 'block'" (click)="nextPage()">
      <mat-icon fontIcon="arrow_forward"></mat-icon>
      <span>Next</span>
    </button>
    <button mat-raised-button [disabled]="isPreviewerDisabled()" (click)="zoomIn()">
      <mat-icon fontIcon="add"></mat-icon>
      <span>Zoom In</span>
    </button>
    <button mat-raised-button [disabled]="isPreviewerDisabled()" (click)="zoomOut()">
      <mat-icon fontIcon="remove"></mat-icon>
      <span>Zoom Out</span>
    </button>
    <a hreflang="en" [href]="pdfSrcPathLink()" target="_blank" rel="noopener noreferrer" download="Download.pdf">
      <button
        mat-raised-button
        [style.display]="isPreviewerDisabled() ? 'none' : 'block'"
        class="bg-red-500 hover:bg-blue-700 text-white"
      >
        <mat-icon fontIcon="download"></mat-icon>
        <span>Download PDF</span>
      </button>
    </a>
    <button mat-raised-button [style.display]="isPreviewerDisabled() ? 'none' : 'block'" (click)="closePdf()">
      <mat-icon fontIcon="close"></mat-icon>
      <span>Close PDF</span>
    </button>
  </div>
  <div class="pdf-preview-container">
    <pdf-viewer
      class="pdf-preview"
      [src]="pdfSrcPathLink()"
      zoom-scale="page-height"
      [render-text]="true"
      [show-all]="true"
      [autoresize]="true"
      [original-size]="false"
      [rotation]="0"
      [show-borders]="true"
      [page]="pdfPage()"
      [zoom]="pdfZoom()"
      (after-load-complete)="afterLoadComplete($event)"
    >
    </pdf-viewer>
  </div>
</div>
