<div class="welcome-banner">
  <p>Welcome!</p>
</div>

<custom-file-uploader
  [(optionEntries)]="optionEntries"
  [(optionEntries2)]="optionEntriesNgxMatSelectSearch"
  (optionChange)="updateOptionEntryState($event)"
></custom-file-uploader>

<p class="pdf-title">See a PDF File:</p>

<div class="pdf-buttons-container">
  <button mat-raised-button class="blue-button" (click)="retrievePdfFileLink()">Open PDF</button>
  <button mat-raised-button class="blue-button" (click)="closePdf()">Close PDF</button>
</div>

<custom-pdf-previewer [(pdfSrcPathLink)]="pdfSrcPathLink"></custom-pdf-previewer>

<div class="footer-banner"></div>
