<p class="bg-white flex flex-col p-4 text-4xl font-bold underline color-black">
  Second Drag & Drop File Upload Solution:
</p>
<div class="custom-file-uploader-2-container">
  <file-upload
    [(ngModel)]="uploadedFiles"
    [control]="fileUploadControl"
    [disabled]="checkFileUploadIsDisabled()"
  ></file-upload>
  <button mat-raised-button (click)="getFileUploadControl()">Get File Upload Control Status</button>
  <p class="text-center">Only accepts CSV, XLSX, DOCX, and Parquet files!</p>
  @if (this.fileUploadControl.value.length > 0) {
    @if (this.fileUploadControl.disabled) {
      <p class="text-center text-red-500">Please remove files below to enable the file upload again!</p>
    }
    <div class="file-list">
      @for (file of fileUploadControl.value; track file) {
        <div class="file-item" tabindex="0">
          {{ file.name }}
          <!-- Example of Angular Mat-Select (Drop-Down) -->
          <mat-form-field>
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{ toppings.value[0] }}
                <span class="example-additional-selection">
                  {{ getAdditionalSelectMessage() }}
                </span>
              </mat-select-trigger>
              @for (topping of this.toppingList; track topping) {
                <mat-option [value]="topping">{{ topping }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-icon fontIcon="delete" (click)="handleRemoveFile(file)"></mat-icon>
        </div>
      }
    </div>
  }
</div>
